@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/PocketMonk-15ze.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #f00004;
$color-2: salmon;
$color-3: #034bdb;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
